[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
rotation_distance: 40
microsteps: 16
endstop_pin: ^!ar3
position_endstop: -7
position_min: -7
position_max: 220
homing_speed: 40.0

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
rotation_distance: 40
microsteps: 16
endstop_pin: ^!ar14
position_endstop: 0
position_max: 220
homing_speed: 40
homing_positive_dir: false

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop			   
position_min: -3
position_max: 250
homing_speed: 20
second_homing_speed: 5

[stepper_z1]
step_pin: ar36
dir_pin: !ar34
enable_pin: !ar30
rotation_distance: 40
microsteps: 16


[extruder]
step_pin: ar26
dir_pin: !ar28
enable_pin: !ar24
nozzle_diameter: 0.400     
rotation_distance: 8 
microsteps: 16
filament_diameter: 1.750
heater_pin: ar10
sensor_type: ATC Semitec 104GT-2
sensor_pin: analog13
min_extrude_temp: 190
min_temp: 5
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
pressure_advance: 0.038

[heater_bed]
heater_pin: ar8
control: pid
# pid_kp = 48.362
# pid_ki = 0.638
# pid_kd = 915.854
## Leaf values
# pid_kp = 43.984
# pid_ki = 0.992
# pid_kd = 600.739
## Tune values @85
pid_Kp=43.920 
pid_Ki=1.279 
pid_Kd=377.162
## Tune values @85 - no overshoot
# pid_Kp=14.64
# pid_Ki=0.426
# pid_Kd=331.9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
min_temp: 5
max_temp: 150

[fan]
pin: ar9
kick_start_time: 0.500

[heater_fan my_nozzle_fan]
pin:ar7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[temperature_fan case_fan]
pin: ar4
sensor_type: NTC 100K beta 3950
sensor_pin: analog15
target_temp: 40
min_temp: -10
max_temp: 90
control: pid
pid_Kp: 3
pid_Ki: 1
pid_Kd: 1
off_below: 0.1
pid_deriv_time:
pid_integral_max:
gcode_id: extruder_driver

[mcu]
#make sure this reflects your serial port you found when flashing klipper
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

[mcu host]
serial: /tmp/klipper_host_mcu

[temperature_sensor host]
sensor_type: temperature_host
gcode_id: Rpi
#sensor_path:
#   The path to temperature system file. The default is
#   "/sys/class/thermal/thermal_zone0/temp" which is the temperature
#   system file on a Raspberry Pi computer.

[display_status]


[display]
#  mini12864 LCD Display
lcd_type: uc1701
cs_pin: ar17
a0_pin: ar16
rst_pin: ar23
encoder_pins: ^ar31,^ar33
click_pin: ^!ar35
contrast: 63
spi_bus: spi
# spi_software_miso_pin: ar51
# spi_software_mosi_pin: ar50
# spi_software_sclk_pin: ar52

[neopixel fysetc_mini12864]
#  To control Neopixel RGB in mini12864 display
pin: ar25
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#  Set RGB values on boot up for each Neopixel. 
#  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

[output_pin beeper]
pin: ar37

[virtual_sdcard]
path: ~/gcode_files




[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 3000
max_accel_to_decel: 3000
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5 

[input_shaper]
shaper_freq_x: 34.8
shaper_freq_y: 45.7
shaper_type: mzv

[bed_screws]
screw1: 45,32
screw1_name: front left
screw2: 185,32
screw2_name: front right
screw3: 185,172
screw3_name: back right
screw4: 45,172
screw4_name: back left
speed: 100.0

[probe]
pin: ^!ar18
x_offset: 26.0
y_offset: -36.0
speed: 10.0
samples: 1
samples_result: average

[safe_z_home]
home_xy_position: 110,110
speed: 100
z_hop: 20               
z_hop_speed: 20

[bed_mesh]
speed: 800
mesh_min: 30,0
mesh_max: 210,180
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 3.0
split_delta_z: .010
fade_start: 1.0 
fade_end: 5.0

[screws_tilt_adjust]
screw1: 17,78
screw1_name: front left
screw2: 157,78
screw2_name: front right
screw3: 17,218
screw3_name: back left
screw4: 157,218
screw4_name: back right
speed: 100.0
screw_thread: CW-M5		
	
#uncomment the following lines to use Z_TILT_ADJUST and uncomment G34 Macro to use G34
[z_tilt]
z_positions: 
     0,146
     179,146

points: 
     0,146
     179,146
speed: 100
horizontal_move_z: 10
retry_tolerance: 0.02
retries: 8



[gcode_macro G29]
gcode:
 BED_MESH_CLEAR
 G28
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=x1
 
[gcode_macro G34]
gcode:
     G28
     Z_TILT_ADJUST
		 
[gcode_macro START_PRINT]
# Reference https://shorturl.at/intuA
# On how to override default parameter

gcode:
    BED_MESH_PROFILE LOAD=x1
 #    # Home the printer
	# G28 				 		  						 
 #    # Use absolute coordinates
 #    G90
 #    # Move the nozzle near the bed
 #    G1 X0 Y0 Z5 F3000
 #    # Move the nozzle very close to the bed
 #    G1 Z0.15 F300
 #    G92 E0 ;Reset Extruder
 #    G1 X20 Y5 Z0.3 F5000.0			   
 #    G1 Z0.3 F1000 				    
 #    G1 X200 Y5 F1500.0 E15 			   
 #    G1 X200 Y5.3 Z0.3 F5000.0			    
 #    G1 X5.3  Y5.3 Z0.3 F1500.0 E30 			
 #    G1 Z3 F3000 				     
 #    G21 ; set units to millimeters
 #    G90 ; use absolute coordinates
 #    M83 ; use relative distances for extrusion
 #    G92 E0

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z30 F3000
    G90
    # Disable steppers
    M84

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT


######################################################################
# Filament Change
######################################################################


# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 130mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[gcode_macro M600]
########### Gcode ############
gcode:
    {% set X = -5|int %}
    {% set Y = 30|int %}
    {% set Z = 10|int %}
    {% set E = -50|int %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-5 F4000
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000        ;park position
    G0 E10 F500                ;extrude filament to get better blob on end
    G0 E{E} F600             ;retract additional filament to move out of melt zone
    G92 E0
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0 ; turn off stepper motor for purge



#    Use this command resume during a mid print filament swap (DONT USE OCTO/MAINSAIL/DWC RESUME)
[gcode_macro SWAP_RESUME] 
gcode:
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=1 ; turn stepper motor back on purge
    G92 E0
    RESTORE_GCODE_STATE NAME=M600_state
    resume


[pause_resume]
recover_velocity: 50.

[filament_switch_sensor my_sensor]
#Move filament runout sensor from TFT to X+ endstop pin. Umcomment all but this line if you want to use this
pause_on_runout: True
runout_gcode: PAUSE
insert_gcode: RESUME
switch_pin: ar2


### Neopixels!

[neopixel hotend]
pin: ar15
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 1
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.

[gcode_macro M105]
rename_existing:            M105.1
gcode:  

   M105.1

   #if the extruder is off
   {% if printer.extruder.target == 0 %}

      #Set the LED to red if the extruder is off but is still hot, otherwise 
      # set the color to green
      {% if printer.extruder.temperature > 60.0 %}
         SET_LED LED=hotend RED=1 GREEN=0 BLUE=0 INDEX=1  TRANSMIT=1
      {% else %}
         SET_LED LED=hotend RED=0 GREEN=1 BLUE=0 INDEX=1  TRANSMIT=1
      {% endif %}     

   {% else %}

         #if the extruder temp is at target temperature 
         {% if printer.extruder.temperature >= printer.extruder.target - 4.0 %}
            SET_LED LED=hotend RED=1 GREEN=0 BLUE=0 INDEX=1  TRANSMIT=1

         #if the extruder is still heating
         {% else %}
            {% set scaler = printer.extruder.temperature|float / printer.extruder.target|float %}
            SET_LED LED=hotend RED={ scaler|float * 1 } GREEN=0 BLUE=0 INDEX=1  TRANSMIT=1
         {% endif %}  

   {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.885
#*# pid_ki = 2.469
#*# pid_kd = 84.489
#*#
#*# [heater_bed]
#*#
#*# [probe]
#*# z_offset = 0.700
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.272500, 0.150000, 0.130000, 0.097500, 0.055000
#*# 	  0.102500, 0.005000, 0.055000, 0.057500, 0.025000
#*# 	  0.130000, 0.012500, 0.022500, 0.060000, 0.075000
#*# 	  0.085000, 0.050000, 0.047500, -0.005000, 0.090000
#*# 	  0.205000, 0.077500, 0.080000, 0.105000, 0.057500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 5
#*# max_y = 180.0
#*# mesh_x_pps = 2
#*# max_x = 210.0
#*#
#*# [bed_mesh x1]
#*# version = 1
#*# points =
#*# 	  0.272500, 0.150000, 0.130000, 0.097500, 0.055000
#*# 	  0.102500, 0.005000, 0.055000, 0.057500, 0.025000
#*# 	  0.130000, 0.012500, 0.022500, 0.060000, 0.075000
#*# 	  0.085000, 0.050000, 0.047500, -0.005000, 0.090000
#*# 	  0.205000, 0.077500, 0.080000, 0.105000, 0.057500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 5
#*# max_y = 180.0
#*# mesh_x_pps = 2
#*# max_x = 210.0
